<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Top Page</title>
</head>

<body>
     {{-- header begining  --}}

     <header>
        <div class="menu_part">
            <div class="topBar">
                <div class="site_name flex j-c a-c">
                    <p>
                        大阪府 兵庫県 奈良県 で 注文住宅
                        を建てるなら株式会社桝田工務店【イエタッタ】
                    </p>
                </div>
                <div class="num_s flex j-c">
                    <div class="container flex a-c j-b">
                        <div class="num flex a-c">
                            <div class="data flex a-b">
                                <p>住宅会社</p>
                                <p>352</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>施工事例</p>
                                <p>689</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>モデルハウス</p>
                                <p>112</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>土地・建売</p>
                                <p>156</p>
                                <p>社</p>
                            </div>
                        </div>
                        <div class="search_c flex a-c">
                            <button class="s_btn" id="reqInfo">まとめて資料請求する</button>
                            <div class="search flex a-c">
                                <input type="text" placeholder="会社名やキーワードで検索" />
                                <button class="sBtn" id="sBtn">
                                    <img src="./assets/img/search_icon.png" alt="" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menuBar flex col a-c j-c">
                <div class="container">
                    <div class="t_part flex j-c a-c">
                        <div class="ribbon flex col a-c">
                            <img src="./assets/img/heart_noti.png" class="heart" alt="heart" />
                            <div class="count">0 件</div>
                            <div class="label">お気に入り</div>
                        </div>
                        <div class="ribbonSp">
                            <div class="ribbonSpimg">
                                <div class="noti">126</div>
                            </div>
                            <p>お気に入り</p>
                        </div>
                        <img src="./assets/img/title.png" class="title" alt="title" />
                        <div class="hamburger" onclick="toggleMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- Sliding Menu -->
                        <div class="ham_menu" id="ham_menu">
                            <button class="close-btn" onclick="toggleMenu()">×</button>
                            <div class="menu-items flex col">
                                <a href="#"> 工務店・ハウスメーカーを探す </a>
                                <a href="#">施工事例を見る</a>
                                <a href="#">住宅イベントに行く</a>
                                <a href="#">モデルハウスを見る</a>
                                <a href="#"> リノベーション・リフォーム事例を見る </a>
                                <a href="#">土地・建売・投資用物件を探す</a>
                                <a href="#">家づくりコラム</a>
                                <a href="#">家作り基礎講座</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu_list flex j-b">
                        <a href="#" class="menu flex j-c a-c">
                            工務店・ハウス<br />メーカーを探す
                        </a>
                        <a href="#" class="menu flex col j-c a-c">施工事例を<br />見る</a>
                        <a href="#" class="menu flex col j-c a-c">住宅イベントに<br />行く</a>
                        <a href="#" class="menu flex col j-c a-c">モデルハウスを<br />見る</a>
                        <a href="#" class="menu flex col j-c a-c">
                            リノベーション・<br />リフォーム事例を見る
                        </a>
                        <a href="#" class="menu flex col j-c a-c">土地・建売・<br />投資用物件を探す</a>
                        <a href="#" class="menu flex col j-c a-c">家づくりコラム</a>
                        <a href="#" class="menu flex col j-c a-c">家作り基礎講座</a>
                    </div>
                    <div class="ad">
                        <div class="sideBar">新築・注文住宅サイト イエタッタ</div>
                        <img src="./assets/img/ad1.png" class="ad_img" alt="" />
                        <a href="#" class="ad_more flex a-c">
                            <p>詳しくはこちら</p>
                            <img src="./assets/img/ad_more.png" alt="more" />
                        </a>
                    </div>
                    <img src="./assets/img/ad_sp.png" class="adSp" alt="adSp" />
                </div>
            </div>
        </div>
    </header>

    {{-- header end  --}}
    <main>
        <div class="container">
            <div class="signCom">
                <p>株式会社ハウスイズム</p>
                <p>理想の住まいづくりを叶えた家</p>
                <div class="ring flex a-c">
                    <img src="./assets/img/ring.png" alt="ring" />
                    <p>能美市中町</p>
                </div>
                <div class="tipG flex a-c">
                    <div class="tip">完成見学会</div>
                    <div class="tip">予約特典あり</div>
                </div>
                <button class="bookBtn">イベント予約する</button>
            </div>
            <div class="signComSp">
                <p>株式会社SAMPLE COMPANY サンプルカンパニー 野々市</p>
                <p>平屋を繋ぐ2世帯住宅</p>
                <div class="tipG flex a-c">
                    <div class="tip">完成見学会</div>
                    <div class="tip">予約特典あり</div>
                </div>
            </div>
            <div class="slideG flex">
                <div class="intro">
                    <p class="introT">
                        年間50棟限定の家づくり。大阪の狭小住宅、注文住宅を一人の設計担当者がトータルに家づくりについてサポート。
                    </p>
                    <div class="context flex col">
                        <p>「理想の住まいづくりを叶えた家」</p>
                        <p>小松市にセミオーダーの新築戸建て住宅がまもなく完成します。</p>
                        <p>
                            「いつかはマイホームを…」という憧れに加えて、子どもが産まれたことがきっかけで、<br />家族で安心して暮らせる場所をつくりたいと思い、家づくりをスタート！
                        </p>
                        <p>
                            多くのハウスメーカーを見学する中で理想のイメージが見つからずにいたところ、お母様の「伊地知組さんを見に行ってみたら？」という一言で訪問。<br />最初は大きな展示に驚いたものの、シンプルなデザインと、自分たちの希望を親
                        </p>
                    </div>
                </div>
                <div class="slideBar">
                    <div class="slider-container">
                        <img id="mainImage" class="main-image" src="./assets/img/slide_main.png"
                        alt="Main Image" />

                        <div class="arrow left flex a-c j-c" onclick="prevSlide()">
                            <img src="./assets/img/arrowL.svg" alt="left arrow" />
                        </div>

                        <div class="arrow right flex a-c j-c" onclick="nextSlide()">
                            <img src="./assets/img/arrowR.svg" alt="right arrow" />
                        </div>

                        <div class="image-count" id="imageCount">1/8</div>
                    </div>
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail-row" id="thumbnails"></div>
                    </div>
                </div>
                <div class="houseE flex col">
                    <p class="houseET">ここちの家　平屋＆2階建て</p>
                    <p>
                        「温度を守る」「体を守る」「家計を守る」「環境を守る」「命を守る」5つの「守る」を備えたモデルハウスです。これから先もずっと大切な時間を守るためのたくさんの想いをかたちに。
                    </p>
                    <button>すべてみる ▼</button>
                </div>
            </div>
            
            <div class="content">
                <div class="event_info">
                    <div class="event_infoT-wrap">
                        <p class="event_infoT">イベント情報</p>
                    </div>
                    <div class="e_dataG">
                        <div class="e_data flex a-c">
                            <p>期間</p>
                            <p>2025/04/30 〜 2025/07/30</p>
                        </div>
                        <div class="e_data flex a-c">
                            <p>時間</p>
                            <p>10:00〜16:00</p>
                        </div>
                        <div class="e_data flex">
                            <p>場所</p>
                            <p>石川県金沢市</p>
                        </div>
                        <div class="e_data flex j-b">
                            <p>注意事項</p>
                            <p>
                                当日のご予約はお電話のみ受け付けております。別のサイトからもイベント予約を受付しておりますので、ご予約が重なる可能性がございます。その際は個別にご連絡させていただきます。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="calendarC">
                    <div class="calendar-container" id="calendar-container">
                        <div class="calendar flex col a-c" id="calendarWrapper">
                            <div class="calendar-header">
                                <button class="mBtn flex j-c a-c" id="prevMonthBtn">
                                    &lt;
                                </button>
                                <div class="dateG flex a-b">
                                    <p id="calendarYear">2025.</p>
                                    <p id="calendarMonth">8</p>
                                    <p>月</p>
                                </div>

                                <button class="mBtn flex j-c a-c" id="nextMonthBtn">
                                    &gt;
                                </button>
                                <button id="todayBtn">今日</button>
                            </div>
                            <div class="calendar-grid" id="calendarGrid"></div>
                        </div>
                        <div class="time-select" id="timePanel">
                            <h2>見学希望日を選んでください</h2>
                            <div class="date-selector">
                                <div class="date-box selected saturday">
                                    <div class="month-day">
                                        <p class="month" id="selectedDateText"></p>
                                        <div class="sdayG flex a-b">
                                            <p class="sday blue" id="selectedtimeText"></p>
                                            <p class="blue">日</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="date-box sunday">
                                    <div class="month-day">
                                        <p class="month" id="selectedNextDateText"></p>
                                        <div class="sdayG flex a-b">
                                            <p class="sday red" id="selectedNexttimeText"></p>
                                            <p class="red">日</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>見学時間を選んでください</h2>
                            <div class="time-selector">
                                <div class="time-slot selected">09:00〜12:00</div>
                                <div class="time-slot">15:00〜16:00</div>
                                <div class="time-slot">16:00〜17:00</div>
                                <a href="#" class="submit-btn" id="backToCalendarBtn">
                                    予約へ進む
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vrb">
                    <div class="vrbT flex j-c a-c">来場・予約特典</div>
                    <img src="./assets/img/vrb.png" alt="vrb" />
                    <div class="vrb_txt">
                        <p>
                            イエタッタ10周年特別感謝企画<br />
                            「新築お祝いキャンペーン」
                        </p>
                        <p>
                            いまならイベントを予約して参加するともれなく「Amazonギフトカード最大5000円分（先着200名
                            様）」をプレゼント！
                        </p>
                    </div>
                </div>
                <div class="recom">
                    <div class="recomT">こんな方におすすめ!</div>
                    <div class="checkG">
                        <div class="checkB flex a-c">
                            <img src="./assets/img/check.png" alt="checkbox" />
                            <p>家のデザインや間取りについてアイデアを集めている。</p>
                        </div>
                        <div class="checkB flex a-c">
                            <img src="./assets/img/check.png" alt="checkbox" />
                            <p>二世帯住宅に興味がある。</p>
                        </div>
                        <div class="checkB flex a-c">
                            <img src="./assets/img/check.png" alt="checkbox" />
                            <p>お手入れしやすい住設機器について、情報収集している。</p>
                        </div>
                        <div class="checkB flex a-c">
                            <img src="./assets/img/check.png" alt="checkbox" />
                            <p>おしゃれで耐震性の高い家に住みたい。</p>
                        </div>
                        <div class="checkB flex a-c">
                            <img src="./assets/img/check.png" alt="checkbox" />
                            <p>
                                GX志向型住宅の補助金を使って、高性能なお家をお得に建てたい。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btnG flex a-c j-b">
                    <button>
                        電話で<br />
                        問い合わせる
                    </button>
                    <button>イベント予約する</button>
                </div>
                <div class="eventDetail">
                    <div class="eventDetailT">イベント詳細情報</div>
                    <div class="detailImg">
                        <img src="./assets/img/LDK.png" alt="LDK" />
                        <div class="imgE">
                            <p>リビング・ダイニング</p>
                            <p>リビングダイニングは白を基調に。</p>
                        </div>
                    </div>
                    <div class="detailImg">
                        <img src="./assets/img/リビング・ダイニング.png" alt="" />
                        <div class="imgE">
                            <p>リビング・ダイニング</p>
                            <p>リビングダイニングは白を基調に。</p>
                        </div>
                    </div>
                </div>
                
                <div class="event_info">
                    <div class="event_infoT-wrap">
                        <p class="event_infoT">イベント情報</p>
                    </div>
                    <div class="e_dataG">
                        <div class="e_data flex a-c">
                            <p>期間</p>
                            <p>2025/04/30 〜 2025/07/30</p>
                        </div>
                        <div class="e_data flex a-c">
                            <p>時間</p>
                            <p>10:00〜16:00</p>
                        </div>
                        <div class="e_data flex">
                            <p>場所</p>
                            <p>◯◯県〇〇市●●●●</p>
                        </div>
                        <div class="e_data flex j-b">
                            <p>注意事項</p>
                            <p>
                                当日のご予約はお電話のみ受け付けております。別のサイトからもイベント予約を受付しておりますので、ご予約が重なる可能性がございます。その際は個別にご連絡させていただきます。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btnG flex a-c j-b">
                    <button>
                        電話で<br />
                        問い合わせる
                    </button>
                    <button>イベント予約する</button>
                </div>
                <div class="vrb">
                    <div class="vrbT flex j-c a-c">来場・予約特典</div>
                    <img src="./assets/img/vrb.png" alt="vrb" />
                    <div class="vrb_txt">
                        <p>
                            イエタッタ10周年特別感謝企画<br />
                            「新築お祝いキャンペーン」
                        </p>
                        <p>
                            いまならイベントを予約して参加するともれなく「Amazonギフトカード最大5000円分（先着200名
                            様）」をプレゼント！
                        </p>
                    </div>
                </div>
            </div>
            <div class="map">
                <div class="mapT-wrap">
                  <div class="mapT">イベントMAP</div>
                </div>
              
                <div class="mapFrameWrap">
                  <iframe
                    src="https://maps.google.co.jp/maps?ll=36.387055901033236,136.4519459730164&q=36.387055901033236,136.4519459730164&output=embed&t=m&z=14"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    allowfullscreen
                    loading="lazy"
                  ></iframe>
                </div>
              
                <div class="mapBtn flex j-c a-c">地図アプリで見る</div>
            </div>
            <div class="blogG">
                <div class="blogT">開催中のイベント情報</div>
                <div class="blog flex">
                    <div class="imgS">
                        <img src="./assets/img/List.png" alt="blog_List" />
                    </div>
                    <div class="blogE">
                        <div class="blogName flex a-c">
                            <div class="bName">モデルハウス</div>
                            <div class="bDate">2025/05/17 ～ 2025/05/18</div>
                        </div>
                        <div class="hStyle">受け継がれる家【CONNECT-STYLE】</div>
                        <div class="bTxt">
                            <p>
                                これからの住宅とは何か。
                                使用エネルギーを抑え、自然環境に配慮した家。 災害等から家族
                                を守ることの出来る家。
                                そして、いつまでも暮らしやすく、長く愛される家。 こ
                            </p>
                            <p>会場：石川県能美市福島町へ136</p>
                        </div>
                        <div class="bStateG flex a-c">
                            <div class="bState flex a-c j-c">予約必要です</div>
                            <div class="bState flex a-c j-c">キッズスペースあり</div>
                        </div>
                        <a href="#" class="bDetail flex a-c j-c">
                            <p>もっと詳しく見る</p>
                            <img src="./assets/img/bMore_icon.png" alt="bMore_i" />
                        </a>
                    </div>
                </div>
                <div class="blog flex">
                    <div class="imgS">
                        <img src="./assets/img/List.png" alt="blog_List" />
                    </div>
                    <div class="blogE">
                        <div class="blogName flex a-c">
                            <div class="bName">モデルハウス</div>
                            <div class="bDate">2025/05/17 ～ 2025/05/18</div>
                        </div>
                        <div class="hStyle">受け継がれる家【CONNECT-STYLE】</div>
                        <div class="bTxt">
                            <p>
                                これからの住宅とは何か。
                                使用エネルギーを抑え、自然環境に配慮した家。 災害等から家族
                                を守ることの出来る家。
                                そして、いつまでも暮らしやすく、長く愛される家。 こ
                            </p>
                            <p>会場：石川県能美市福島町へ136</p>
                        </div>
                        <div class="bStateG flex a-c">
                            <div class="bState flex a-c j-c">予約必要です</div>
                            <div class="bState flex a-c j-c">キッズスペースあり</div>
                        </div>
                        <a href="#" class="bDetail flex a-c j-c">
                            <p>もっと詳しく見る</p>
                            <img src="./assets/img/bMore_icon.png" alt="bMore_i" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="blogG_sp">
                <div class="blogG_spT">開催中のイベント情報</div>
                <div class="blogList_sp flex col">
                    <div class="blogSp flex a-c">
                        <div class="bImg_sp">
                            <img src="./assets/img/blogSp01.png" alt="blogSp01" />
                        </div>
                        <div class="blogSp_E">
                            <p class="blogSp_ET">
                                《木造で魅せる》標準仕様が体感できる3階建て見学ツアー
                            </p>
                            <div class="bState_sp">完成見学会</div>
                            <div class="b_infoG flex col">
                                <div class="b_info flex a-c">
                                    <p>開催日</p>
                                    <p>～ 2023/03/31</p>
                                </div>
                                <div class="b_info flex a-c">
                                    <p>開催地</p>
                                    <p>奈良県奈良市八条4丁目638-1</p>
                                </div>
                                <p>株式会社ハウスメーカーハウスメーカ</p>
                            </div>
                        </div>
                    </div>
                    <div class="blogSp flex a-c">
                        <div class="bImg_sp">
                            <img src="./assets/img/blogSp02.png" alt="blogSp02" />
                        </div>
                        <div class="blogSp_E">
                            <p class="blogSp_ET">
                                《木造で魅せる》標準仕様が体感できる3階建て見学ツアー
                            </p>
                            <div class="bState_sp">完成見学会</div>
                            <div class="b_infoG flex col">
                                <div class="b_info flex a-c">
                                    <p>開催日</p>
                                    <p>～ 2023/03/31</p>
                                </div>
                                <div class="b_info flex a-c">
                                    <p>開催地</p>
                                    <p>奈良県奈良市八条4丁目638-1</p>
                                </div>
                                <p>株式会社ハウスメーカーハウスメーカ</p>
                            </div>
                        </div>
                    </div>
                    <div class="blogSp flex a-c">
                        <div class="bImg_sp">
                            <img src="./assets/img/blogSp03.png" alt="blogSp03" />
                        </div>
                        <div class="blogSp_E">
                            <p class="blogSp_ET">
                                《木造で魅せる》標準仕様が体感できる3階建て見学ツアー
                            </p>
                            <div class="bState_sp">完成見学会</div>
                            <div class="b_infoG flex col">
                                <div class="b_info flex a-c">
                                    <p>開催日</p>
                                    <p>～ 2023/03/31</p>
                                </div>
                                <div class="b_info flex a-c">
                                    <p>開催地</p>
                                    <p>奈良県奈良市八条4丁目638-1</p>
                                </div>
                                <p>株式会社ハウスメーカーハウスメーカ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blogSort flex a-c">
                <div class="bLeft flex">
                    <button class="sortRect flex a-c j-c">会社情報</button>
                    <button class="sortRect flex-col a-c j-c">イベント<br /><span class="hun">100件</span></button>
                    <button class="sortRect flex-col a-c j-c">施工事例<br /><span class="hun">100件</span></button>
                    <button class="sortRect flex-col a-c j-c">
                        モデルハウス<br /><span class="hun">100件</span>
                    </button>
                    <button class="sortRect flex-col a-c j-c">
                        リフォーム<br />リノベーション<br /><span class="hun">100件</span>
                    </button>
                    <button class="sortRect flex-col a-c j-c">土地・建売<br /><span class="hun">100件</span></button>
                    <button class="sortRect flex-col a-c j-c">ブログ<br /><span  class="hun">100件</span></button>
                    <button class="sortRect flex a-c j-c">公式サイト</button>
                </div>
            </div>
            <div class="b_history">
                <div class="b_historyT flex a-c j-b">
                    <p>閲覧履歴</p>
                    <a href="#">
                        <img src="./assets/img/arrow.png" alt="arrow" />
                    </a>
                </div>
                <div class="h_slide flex">
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                    <div class="slideBlock">
                        <img src="./assets/img/h_slide.png" alt="h_slide" />
                        <p>子育て世代に最適～緑を感じる穏やかな街並み…</p>
                    </div>
                </div>
            </div>
            <div class="footer_txt">
                <ul>
                    <li>
                        価格は物件の代金総額を表示しており、消費税が課税される場合は税込み価格です。
                        （1000円未満は切り上げ。）
                    </li>
                    <li>
                        写真に写っている、またはパース（絵）や間取り図に描かれている家具や車などは、特にコメントがない場合、販売価格に含まれません。
                    </li>
                    <li>敷地権利が定期借地権のものは価格に権利金を含みます。</li>
                    <li>建築条件付き土地価格には、建物価格は含まれません。</li>
                    <li>
                        物件情報は、原則として情報提供日の２日前に最終確認した情報です。
                    </li>
                    <li>
                        完成予想図はいずれも外構、植栽、外観等実際のものとは多少異なることがあります。
                    </li>
                    <li>
                        建築条件付き土地とは、その土地に建築する建物の建築請負契約が一定期間内に成立することを条件として売買される土地を指します。建築請負契約の成立に向けて、土地購入者と施工会社との間で建物の設計プランを協議するため、購入者が希望する建物の設計に関する十分な交渉期間が設定されます。この交渉期間内に希望を満たすプランが実現できるかどうかを確認し、契約の可否を判断します。なお、この期間はおおむね3ヶ月程度とされています。もし購入者が納得のいくプランを得られず、建築請負契約が成立しなかった場合には、土地売買契約は白紙となり、土地代金や手付金など、契約にかかった費用は名目に関係なく全額返金されます。
                    </li>
                    <li>
                        建築条件土地の情報内に掲載されている、建物プラン例は、土地購入者の設計プランの参考の一例であって、プランの採用可否は任意です。
                    </li>
                </ul>
            </div>
            <div class="sideBar_sp">
                新築・注文住宅サイト イエタッタ > 石川県の住宅イベントへ行く >
                株式会社桝田工務店 > 中庭のある家~閉鎖的・開放的を実現する~
            </div>
        </div>
    </main>
    {{-- footer begining  --}}
    <footer>
        <div class="container">
            <div class="top flex a-c j-b">
                <img src="./assets/img/title.png" alt="logo" />
                <div class="snsG flex a-c">
                    <img src="./assets/img/instagram.png" alt="instagram" />
                    <img src="./assets/img/facebook.png" alt="facebook" />
                    <img src="./assets/img/x.png" alt="x" />
                    <img src="./assets/img/youtube.png" alt="youtube" />
                    <img src="./assets/img/line.png" alt="line" />
                    <img src="./assets/img/pinterest.png" alt="piterest" />
                    <img src="./assets/img/tiktok.png" alt="tiktok" />
                </div>
            </div>
            <div class="menuG flex">
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">工務店・ハウスメーカーを探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 施工対応エリアから探す</p>
                                <p>
                                    加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                    金沢市 | かほく市・内灘 町・津幡町 |
                                    羽咋市・宝達志水町・志賀町 | 七尾市・中能登町|
                                    輪島市・穴水町・能 登町 | 珠洲市 | 石川県全域 | 県外
                                </p>
                            </div>
                            <div class="sContent">
                                <p class="contentT">- 取扱住宅から探す</p>
                                <p>注文住宅 | 規格住宅 | 建売住宅</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">施工事例を見る</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>新築 | リフォーム | リノベーション</p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">住宅イベントへ行く</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    完成見学会 | 構造見学会 | 現場見学会 モデル ハウス |
                                    イベント | セミナー | オンラインイベント | その他
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">モデルハウスへ行く</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- エリアから探す</p>
                                <p>
                                    加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                    金沢市 | かほく市・内灘 町・津幡町 |
                                    羽咋市・宝達志水町・志賀町 | 七尾市・中能登町 |
                                    輪島市・穴水町・能 登町 | 珠洲市
                                </p>
                            </div>
                            <div class="sContent">
                                <p class="contentT">- 属性から探す</p>
                                <p>販売中 | 販売予定 | 常設展示場 | 常時見 学可</p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">シーンから探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    外観 | リビングダイニング | ダイニング キッチン | 洋室 |
                                    和室 | 玄関 | その他屋 内 | その他屋外
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">土地を探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 所在地から探す</p>
                                <p>
                                    石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                    野々市市 | 金沢市 |か ほく市・内灘町・津幡町 |
                                    羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                    市・穴水町・能登町 | 珠洲市
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">建売住宅を探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 所在地から探す</p>
                                <p>
                                    石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                    野々市市 | 金沢市 | か ほく市・内灘町・津幡町 |
                                    羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                    市・穴水町・能登町 | 珠洲市
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG_sp">
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>工務店・ハウスメーカーを探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 施工対応エリアから探す</p>
                                    <p>
                                        加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                        金沢市 | かほく市・内灘 町・津幡町 |
                                        羽咋市・宝達志水町・志賀町 | 七尾市・中能登町|
                                        輪島市・穴水町・能 登町 | 珠洲市 | 石川県全域 | 県外
                                    </p>
                                </div>
                                <div class="sContent">
                                    <p class="contentT">- 取扱住宅から探す</p>
                                    <p>注文住宅 | 規格住宅 | 建売住宅</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>施工事例を見る</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>新築 | リフォーム | リノベーション</p>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>住宅イベントへ行く</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    完成見学会 | 構造見学会 | 現場見学会 モデル ハウス |
                                    イベント | セミナー | オンラインイベント | その他
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>モデルハウスへ行く</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- エリアから探す</p>
                                    <p>
                                        加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                        金沢市 | かほく市・内灘 町・津幡町 |
                                        羽咋市・宝達志水町・志賀町 | 七尾市・中能登町 |
                                        輪島市・穴水町・能 登町 | 珠洲市
                                    </p>
                                </div>
                                <div class="sContent">
                                    <p class="contentT">- 属性から探す</p>
                                    <p>販売中 | 販売予定 | 常設展示場 | 常時見 学可</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>シーンから探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- カテゴリーから探す</p>
                                    <p>
                                        外観 | リビングダイニング | ダイニング キッチン | 洋室 |
                                        和室 | 玄関 | その他屋 内 | その他屋外
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>土地を探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 所在地から探す</p>
                                    <p>
                                        石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                        野々市市 | 金沢市 |か ほく市・内灘町・津幡町 |
                                        羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                        市・穴水町・能登町 | 珠洲市
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>建売住宅を探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 所在地から探す</p>
                                    <p>
                                        石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                        野々市市 | 金沢市 | か ほく市・内灘町・津幡町 |
                                        羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                        市・穴水町・能登町 | 珠洲市
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide">
                    <div class="guide_list">
                        <p>住まいのコラム</p>
                        <p>石川県の市町村ガイド</p>
                        <p>一括資料請求</p>
                        <p>イエタッタニュース</p>
                        <p>イエタッタの考え</p>
                    </div>
                    <div class="guideListG flex j-b">
                        <div class="guideList">
                            <p>住まいのコラム</p>
                            <p>家づくり基礎講座</p>
                            <p>一括資料請求</p>
                            <p>イエタッタニュース</p>
                            <p>イエタッタの考え</p>
                            <p>登録会社一覧</p>
                        </div>
                        <div class="guideList">
                            <p>サイトマップ</p>
                            <p>利用規約</p>
                            <p>プライバシーポリシー</p>
                            <p>お問い合わせ</p>
                            <p>運営会社</p>
                            <p>ご掲載を希望される方へ</p>
                        </div>
                    </div>
                    <div class="map_lists">
                        <div class="maplist flex a-c">
                            <p>岩手県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>宮城県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>山形県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>福島県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>茨城県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>富山県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>鹿児島県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom flex a-c">
            <p>石川県の工務店 ハウスメーカー 情報サイト © IETATTA</p>
            <div class="btm_list flex a-c">
                <p>利用規約</p>
                <p>プライバシーポリシー</p>
                <p>運営会社</p>
                <p>お問合せ</p>
                <p>サイトマップ</p>
                <p>登録会社一覧</p>
            </div>
        </div>
        <div class="bottom_btn flex a-c j-c">
            <a href="#" class="flex a-c j-c">イベント予約する</a>
        </div>
    </footer>
    {{-- footer end  --}}
    <script src="./assets/js/script.js"></script>
</body>

</html>