<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>個別資料請求フォームページ</title>
</head>

<body>
    {{-- header begining  --}}
    <header>
        <div class="menu_part">
            <div class="topBar">
                <div class="site_name flex j-c a-c">
                    <p>
                        大阪府 兵庫県 奈良県 で 注文住宅
                        を建てるなら株式会社桝田工務店【イエタッタ】
                    </p>
                </div>
                <div class="num_s flex j-c">
                    <div class="container flex a-c j-b">
                        <div class="num flex a-c">
                            <div class="data flex a-b">
                                <p>住宅会社</p>
                                <p>352</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>施工事例</p>
                                <p>689</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>モデルハウス</p>
                                <p>112</p>
                                <p>社</p>
                            </div>
                            <div class="data flex a-b">
                                <p>土地・建売</p>
                                <p>156</p>
                                <p>社</p>
                            </div>
                        </div>
                        <div class="search_c flex a-c">
                            <button class="s_btn" id="reqInfo">まとめて資料請求する</button>
                            <div class="search flex a-c">
                                <input type="text" placeholder="会社名やキーワードで検索" />
                                <button class="sBtn" id="sBtn">
                                    <img src="./assets/img/search_icon.png" alt="" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menuBar flex col a-c j-c">
                <div class="container">
                    <div class="t_part flex j-c a-c">
                        <div class="ribbon flex col a-c">
                            <img src="./assets/img/heart_noti.png" class="heart" alt="heart" />
                            <div class="count">0 件</div>
                            <div class="label">お気に入り</div>
                        </div>
                        <div class="ribbonSp">
                            <div class="ribbonSpimg">
                                <div class="noti">126</div>
                            </div>
                            <p>お気に入り</p>
                        </div>
                        <img src="./assets/img/title.png" class="title" alt="title" />
                        <div class="hamburger" onclick="toggleMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- Sliding Menu -->
                        <div class="ham_menu" id="ham_menu">
                            <button class="close-btn" onclick="toggleMenu()">×</button>
                            <div class="menu-items flex col">
                                <a href="#"> 工務店・ハウスメーカーを探す </a>
                                <a href="#">施工事例を見る</a>
                                <a href="#">住宅イベントに行く</a>
                                <a href="#">モデルハウスを見る</a>
                                <a href="#"> リノベーション・リフォーム事例を見る </a>
                                <a href="#">土地・建売・投資用物件を探す</a>
                                <a href="#">家づくりコラム</a>
                                <a href="#">家作り基礎講座</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu_list flex j-b">
                        <a href="#" class="menu flex j-c a-c">
                            工務店・ハウス<br />メーカーを探す
                        </a>
                        <a href="#" class="menu flex col j-c a-c">施工事例を<br />見る</a>
                        <a href="#" class="menu flex col j-c a-c">住宅イベントに<br />行く</a>
                        <a href="#" class="menu flex col j-c a-c">モデルハウスを<br />見る</a>
                        <a href="#" class="menu flex col j-c a-c">
                            リノベーション・<br />リフォーム事例を見る
                        </a>
                        <a href="#" class="menu flex col j-c a-c">土地・建売・<br />投資用物件を探す</a>
                        <a href="#" class="menu flex col j-c a-c">家づくりコラム</a>
                        <a href="#" class="menu flex col j-c a-c">家作り基礎講座</a>
                    </div>
                    <div class="ad">
                        <div class="sideBar">新築・注文住宅サイト イエタッタ</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{-- header end  --}}
    <main>
        <div class="container">
            <div class="pageT">
                <p>資料請求フォーム</p>
            </div>
            <div class="cardG">
                <div class="cardGT">
                    <p>
                        <span>［必須］</span>以下よりお好みの資料を選択してください。（複数選択可）
                    </p>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-label">商品カタログ</div>
                        <div class="card-title">
                            インダストリアル・ブルックリンスタイル
                        </div>
                        <div class="card-image">
                            <img src="./assets/img/requestB.png" alt="カタログ画像" />
                        </div>
                        <button class="card-btn selected">選択済み</button>
                    </div>
                    <div class="card">
                        <div class="card-label">商品カタログ</div>
                        <div class="card-title">
                            インダストリアル・ブルックリンスタイル
                        </div>
                        <div class="card-image">
                            <img src="./assets/img/requestB.png" alt="カタログ画像" />
                        </div>
                        <button class="card-btn">この資料を選択する</button>
                    </div>
                    <div class="card">
                        <div class="card-label">商品カタログ</div>
                        <div class="card-title">
                            インダストリアル・ブルックリンスタイル
                        </div>
                        <div class="card-image">
                            <img src="./assets/img/requestB.png" alt="カタログ画像" />
                        </div>
                        <button class="card-btn">この資料を選択する</button>
                    </div>
                    <div class="card">
                        <div class="card-label">商品カタログ</div>
                        <div class="card-title">
                            インダストリアル・ブルックリンスタイル
                        </div>
                        <div class="card-image">
                            <img src="./assets/img/requestB.png" alt="カタログ画像" />
                        </div>
                        <button class="card-btn">この資料を選択する</button>
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="formT">
                    <p>お客様情報入力フォーム</p>
                </div>
                <form id="reservationForm">
                    <div class="form-group">
                        <label class="form-label flex">
                            <p>お名前</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC">
                            <input type="text" required />
                            <div class="hint">＊半角英数字のみ入力できます。</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>メールアドレス</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC">
                            <input type="email" required />
                            <div class="hint">＊半角英数字のみ入力できます。</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>電話番号</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC tel">
                            <input type="tel" pattern="[0-9]*" required />
                            <div class="hint">半角英数字のみ入力できます。</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>郵便番号</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC postCode">
                            <input type="tel" pattern="[0-9]*" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>市区町村</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC">
                            <input type="text" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>以降のご住所</p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC">
                            <input type="text" required />
                        </div>
                    </div>
                    <!-- <button type="submit" class="submit-btn">送信する</button> -->
                </form>
            </div>
            <div class="form-wrapper second">
                <div class="formT">
                    <p>家づくりについて教えて下さい</p>
                </div>
                <form id="selectForm">
                    <div class="form-group">
                        <label class="form-label flex">
                            <p>ご予定は</p>
                        </label>
                        <div class="inputC">
                            <select id="plan" required>
                                <option value="">選択して下さい</option>
                                <option value="plan1">プラン1</option>
                                <option value="plan2">プラン2</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>建設予定地はどこですか（市単位）</p>
                        </label>
                        <div class="inputC">
                            <div class="s_area">
                                <span>第1希望</span>
                                <select required>
                                    <option value="">選択して下さい</option>
                                    <option value="city1">市1</option>
                                    <option value="city2">市2</option>
                                </select>
                            </div>
                            <div class="s_area">
                                <span>第2希望</span>
                                <select>
                                    <option value="">選択して下さい</option>
                                    <option value="city1">市1</option>
                                    <option value="city2">市2</option>
                                </select>
                            </div>
                            <div class="s_area">
                                <span>第3希望</span>
                                <select>
                                    <option value="">選択して下さい</option>
                                    <option value="city1">市1</option>
                                    <option value="city2">市2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>予定時期はいつ頃ですか</p>
                        </label>
                        <div class="inputC">
                            <select id="schedule" required>
                                <option value="">選択して下さい</option>
                                <option value="soon">すぐに</option>
                                <option value="within1year">1年以内</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>ご予算は（土地代別）</p>
                        </label>
                        <div class="inputC postCode">
                            <select id="budget" required>
                                <option value="">選択して下さい</option>
                                <option value="budget1">1000万円以下</option>
                                <option value="budget2">1000万円以上</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label flex">
                            <p>
                                利用規約・個人情報取り 扱いについて・個人情報
                                及び広告宣伝を含む電子 メールについての同意
                            </p>
                            <span class="required-badge">必須</span>
                        </label>
                        <div class="inputC privacy">
                            <label>
                                <input type="checkbox" id="agree" required />
                                同意します
                            </label>
                            <p>
                                利用規約・個人情報取り扱いについて・個人情報及び広告宣伝を含む電子メールについての同意<br />
                                利用規約・個人情報取り扱いについてを必ずお読みください。<br />
                                同規約等に同意いただいた場合は、本ページに表示の工務店・住宅メーカー等に対し本ページにご記載いただいた情報を提供します。<br />
                                <p style="padding-top: 15px;">個人情報及び広告・宣伝を含む電子メールについて</p>
                            </p>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">送信内容確認</button>
                </form>
            </div>
        </div>
        <div class="bBar">新築・注文住宅サイト イエタッタ > 資料請求</div>
    </main>
    {{-- footer begining  --}}
    <footer>
        <div class="container">
            <div class="top flex a-c j-b">
                <img src="./assets/img/title.png" alt="logo" />
                <div class="snsG flex a-c">
                    <img src="./assets/img/instagram.png" alt="instagram" />
                    <img src="./assets/img/facebook.png" alt="facebook" />
                    <img src="./assets/img/x.png" alt="x" />
                    <img src="./assets/img/youtube.png" alt="youtube" />
                    <img src="./assets/img/line.png" alt="line" />
                    <img src="./assets/img/pinterest.png" alt="piterest" />
                    <img src="./assets/img/tiktok.png" alt="tiktok" />
                </div>
            </div>
            <div class="menuG flex">
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">工務店・ハウスメーカーを探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 施工対応エリアから探す</p>
                                <p>
                                    加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                    金沢市 | かほく市・内灘 町・津幡町 |
                                    羽咋市・宝達志水町・志賀町 | 七尾市・中能登町|
                                    輪島市・穴水町・能 登町 | 珠洲市 | 石川県全域 | 県外
                                </p>
                            </div>
                            <div class="sContent">
                                <p class="contentT">- 取扱住宅から探す</p>
                                <p>注文住宅 | 規格住宅 | 建売住宅</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">施工事例を見る</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>新築 | リフォーム | リノベーション</p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">住宅イベントへ行く</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    完成見学会 | 構造見学会 | 現場見学会 モデル ハウス |
                                    イベント | セミナー | オンラインイベント | その他
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">モデルハウスへ行く</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- エリアから探す</p>
                                <p>
                                    加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                    金沢市 | かほく市・内灘 町・津幡町 |
                                    羽咋市・宝達志水町・志賀町 | 七尾市・中能登町 |
                                    輪島市・穴水町・能 登町 | 珠洲市
                                </p>
                            </div>
                            <div class="sContent">
                                <p class="contentT">- 属性から探す</p>
                                <p>販売中 | 販売予定 | 常設展示場 | 常時見 学可</p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">シーンから探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    外観 | リビングダイニング | ダイニング キッチン | 洋室 |
                                    和室 | 玄関 | その他屋 内 | その他屋外
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG">
                    <div class="section">
                        <p class="sectionT">土地を探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 所在地から探す</p>
                                <p>
                                    石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                    野々市市 | 金沢市 |か ほく市・内灘町・津幡町 |
                                    羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                    市・穴水町・能登町 | 珠洲市
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <p class="sectionT">建売住宅を探す</p>
                        <div class="sContents">
                            <div class="sContent">
                                <p class="contentT">- 所在地から探す</p>
                                <p>
                                    石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                    野々市市 | 金沢市 | か ほく市・内灘町・津幡町 |
                                    羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                    市・穴水町・能登町 | 珠洲市
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionG_sp">
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>工務店・ハウスメーカーを探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 施工対応エリアから探す</p>
                                    <p>
                                        加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                        金沢市 | かほく市・内灘 町・津幡町 |
                                        羽咋市・宝達志水町・志賀町 | 七尾市・中能登町|
                                        輪島市・穴水町・能 登町 | 珠洲市 | 石川県全域 | 県外
                                    </p>
                                </div>
                                <div class="sContent">
                                    <p class="contentT">- 取扱住宅から探す</p>
                                    <p>注文住宅 | 規格住宅 | 建売住宅</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>施工事例を見る</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>新築 | リフォーム | リノベーション</p>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>住宅イベントへ行く</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContent">
                                <p class="contentT">- カテゴリーから探す</p>
                                <p>
                                    完成見学会 | 構造見学会 | 現場見学会 モデル ハウス |
                                    イベント | セミナー | オンラインイベント | その他
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>モデルハウスへ行く</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- エリアから探す</p>
                                    <p>
                                        加賀市 | 小松市 | 能美市・川北町 | 白山 市 | 野々市市 |
                                        金沢市 | かほく市・内灘 町・津幡町 |
                                        羽咋市・宝達志水町・志賀町 | 七尾市・中能登町 |
                                        輪島市・穴水町・能 登町 | 珠洲市
                                    </p>
                                </div>
                                <div class="sContent">
                                    <p class="contentT">- 属性から探す</p>
                                    <p>販売中 | 販売予定 | 常設展示場 | 常時見 学可</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>シーンから探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- カテゴリーから探す</p>
                                    <p>
                                        外観 | リビングダイニング | ダイニング キッチン | 洋室 |
                                        和室 | 玄関 | その他屋 内 | その他屋外
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>土地を探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 所在地から探す</p>
                                    <p>
                                        石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                        野々市市 | 金沢市 |か ほく市・内灘町・津幡町 |
                                        羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                        市・穴水町・能登町 | 珠洲市
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_sp">
                        <div class="menu-header">
                            <span>建売住宅を探す</span>
                            <span class="f_arrow">&gt;</span>
                        </div>
                        <div class="menu-content">
                            <div class="sContents">
                                <div class="sContent">
                                    <p class="contentT">- 所在地から探す</p>
                                    <p>
                                        石川県全域 | 加賀市 | 小松市 | 能美市・ 川北町 | 白山市 |
                                        野々市市 | 金沢市 | か ほく市・内灘町・津幡町 |
                                        羽咋市・宝達志 水町・志賀町 | 七尾市・中能登町 | 輪島
                                        市・穴水町・能登町 | 珠洲市
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide">
                    <div class="guide_list">
                        <p>住まいのコラム</p>
                        <p>石川県の市町村ガイド</p>
                        <p>一括資料請求</p>
                        <p>イエタッタニュース</p>
                        <p>イエタッタの考え</p>
                    </div>
                    <div class="guideListG flex j-b">
                        <div class="guideList">
                            <p>住まいのコラム</p>
                            <p>家づくり基礎講座</p>
                            <p>一括資料請求</p>
                            <p>イエタッタニュース</p>
                            <p>イエタッタの考え</p>
                            <p>登録会社一覧</p>
                        </div>
                        <div class="guideList">
                            <p>サイトマップ</p>
                            <p>利用規約</p>
                            <p>プライバシーポリシー</p>
                            <p>お問い合わせ</p>
                            <p>運営会社</p>
                            <p>ご掲載を希望される方へ</p>
                        </div>
                    </div>
                    <div class="map_lists">
                        <div class="maplist flex a-c">
                            <p>岩手県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>宮城県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>山形県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>福島県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>茨城県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>富山県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                        <div class="maplist flex a-c">
                            <p>鹿児島県版</p>
                            <img src="./assets/img/guideMap.png" alt="guideMap_i" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom flex a-c">
            <p>石川県の工務店 ハウスメーカー 情報サイト © IETATTA</p>
            <div class="btm_list flex a-c">
                <p>利用規約</p>
                <p>プライバシーポリシー</p>
                <p>運営会社</p>
                <p>お問合せ</p>
                <p>サイトマップ</p>
                <p>登録会社一覧</p>
            </div>
        </div>
        <div class="bottom_btn flex a-c j-c">
            <a href="#" class="flex a-c j-c">上記に同意の上、送信する</a>
        </div>
    </footer>
    {{-- footer end  --}}
    <script src="./assets/js/script.js"></script>
</body>

</html>